[submodule "cmake_modules"]
	path = cmake_modules
	url = https://github.com/Kicer86/cmake_modules.git
[submodule "src/face_recognition/dlib_wrapper/face_recognition_models"]
	path = src/face_recognition/dlib_wrapper/face_recognition_models
	url = https://github.com/ageitgey/face_recognition_models.git
[submodule "src/updater/github_api"]
	path = src/third_party/cpp_restapi
	url = https://github.com/Kicer86/github_api.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "src/gui/desktop/utils/animated_webp"]
	path = src/gui/desktop/utils/animated_webp
	url = https://github.com/Kicer86/AnimatedWebP.git
[submodule "src/third_party/reflect-cpp"]
	path = src/third_party/reflect-cpp
	url = https://github.com/getml/reflect-cpp.git
[submodule "src/core/learning_tests/test-videos"]
	path = src/core/learning_tests/test-videos
	url = https://gitlab.com/kicer86/video-files.git
[submodule "src/third_party/nanobench"]
	path = src/third_party/nanobench
	url = https://github.com/martinus/nanobench.git
[submodule "src/third_party/magic_enum"]
	path = src/third_party/magic_enum
	url = https://github.com/Neargye/magic_enum.git
