<configuration>

	-- introduce known configuration keys
	<keys>
		<base />          -- base path for configurations, databases etc
	</keys>

	-- default values
	<defaults>
		<base path="@CONF_DIR@">    -- default path for configuration
	</defaults>

</configuration>
