
name: AUR package build test

on:
  push:
    branches:
      - master
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v6
      with:
        submodules: true

    - name: Patch PKGBUILD to use current branch
      run: |
        BRANCH=${{ github.head_ref || github.ref_name }}
        sed -i "s|photobroom.git#branch=master|photobroom.git#branch=${BRANCH}|" .github/aur/photobroom-git/PKGBUILD
        sed -i "s|photobroom.git#branch=master|photobroom.git#branch=${BRANCH}|" .github/aur/photobroom-git/.SRCINFO
        echo "Patched PKGBUILD and .SRCINFO to use branch: ${BRANCH}"

    - name: Verify integrity
      uses: 2m/arch-pkgbuild-builder@v1.21
      with:
        target: 'srcinfo'
        pkgname: '.github/aur/photobroom-git'

    - name: Build Package
      uses: 2m/arch-pkgbuild-builder@v1.21
      with:
        target: 'pkgbuild'
        pkgname: '.github/aur/photobroom-git'
