
name: Code coverage

on:
  push:
    branches:
      - master
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false


jobs:
  build:
    name: "Unit tests coverage"

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04]

    steps:
    - uses: actions/checkout@v6
      with:
        submodules: true
        lfs: true

    - name: Install system dependencies
      run: |
        sudo apt-get update &&              \
        sudo apt-get install                \
          gdb                               \
          lcov                              \
          ninja-build                       \
          python3-cairosvg                  \
          python3-defusedxml                \
          python3-pil                       \
          libboost-dev                      \
          libopencv-dev                     \
          libopenblas-dev                   \
          libdlib-dev                       \
          libgmock-dev                      \
          libgl1-mesa-dev                   \
          libglvnd-dev                      \
          libwebp-dev

    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '6.7.2'
        cache: 'true'
        modules: 'qtmultimedia qtquick3d qtshadertools qtquicktimeline'

    - name: Configure Qt runtime for headless tests
      run: |
        QT_PLUGINS="$(qmake6 -query QT_INSTALL_PLUGINS)"
        echo "QT_PLUGIN_PATH=${QT_PLUGINS}" >> "${GITHUB_ENV}"
        echo "QT_QPA_PLATFORM=offscreen" >> "${GITHUB_ENV}"
        echo "QT_OPENGL=software" >> "${GITHUB_ENV}"
        echo "QT_QUICK_BACKEND=software" >> "${GITHUB_ENV}"
        echo "LIBGL_ALWAYS_SOFTWARE=1" >> "${GITHUB_ENV}"
        echo "QT_DEBUG_PLUGINS=1" >> "${GITHUB_ENV}"

    - name: Install CsLibGuarded
      run: |
        git clone -b libguarded-1.4.1 https://github.com/copperspice/cs_libguarded.git
        cd cs_libguarded
        mkdir build
        cd build
        cmake ..
        cmake --build . --target all
        sudo cmake --build . --target install

    - name: Install Exiv2
      run: |
        sudo apt-get install libinih-dev libbrotli-dev
        git clone -b v0.28.2 https://github.com/Exiv2/exiv2.git
        cd exiv2
        mkdir build
        cd build
        cmake .. -DEXIV2_ENABLE_VIDEO=ON -DEXIV2_BUILD_EXIV2_COMMAND=OFF -DEXIV2_BUILD_UNIT_TESTS=OFF -DEXIV2_BUILD_SAMPLES=OFF
        cmake --build . --target all
        sudo cmake --build . --target install

    - name: Setup ccache
      uses: hendrikmuhs/ccache-action@v1.2
      with:
        key: ${{ github.job }}-${{ matrix.compiler.compiler }}

    - name: Build
      uses: ashutoshvarma/action-cmake-build@master
      with:
        build-dir: ${{ runner.workspace }}/build
        build-type: Debug
        cc: clang
        cxx: clang++
        configure-options:
            -DBUILD_SHARED_LIBS=${{ matrix.shared }}
            -DCMAKE_C_COMPILER_LAUNCHER=ccache
            -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
            -DENABLE_SANITIZERS_FOR_TESTS=FALSE
            -DBUILD_LEARNING_TESTS=TRUE
            -DPython=/usr/bin/python3
            -DCMAKE_CXX_FLAGS=--coverage
            -DCMAKE_SHARED_LINKER_FLAGS=--coverage
            -DCMAKE_EXE_LINKER_FLAGS=--coverage
            -G Ninja
        run-test: true
        ctest-options:
            --output-on-failure

    - name: Re-run failing tests with verbose output
      if: failure()
      working-directory: ${{ runner.workspace }}/build
      run: |
        ctest -C Debug --output-on-failure -VV -R "database|database_backends|gui"

    - name: Debug failing tests with gdb
      if: failure()
      working-directory: ${{ runner.workspace }}/build
      run: |
        for test_bin in src/database/database_ut src/database/database_backends_ut src/gui/gui_ut; do
          if [ -x "${test_bin}" ]; then
            echo "::group::gdb ${test_bin}"
            gdb -q -batch \
              -ex "set pagination off" \
              -ex "run" \
              -ex "bt" \
              -ex "thread apply all bt" \
              --args "${test_bin}" || true
            echo "::endgroup::"
          fi
        done

    - name: Generate lcov raports
      run: |
        lcov --capture --ignore-errors mismatch --directory ${{ runner.workspace }}/build --output-file coverage.info
        lcov --remove coverage.info '/usr/*' --output-file coverage.info
        lcov --list coverage.info

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
