
name: Code coverage

on:
  push:
    branches:
      - master
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  coverage:
    name: "Unit tests coverage"
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v6
      with:
        submodules: true
        lfs: true

    - name: Install dependencies
      uses: ./.github/actions/linux-deps
      with:
        extra-packages: gcc-14 g++-14 lcov

    - name: Setup ccache
      uses: hendrikmuhs/ccache-action@v1.2
      with:
        key: ${{ github.job }}

    - name: Build
      uses: ashutoshvarma/action-cmake-build@master
      with:
        build-dir: ${{ runner.workspace }}/build
        build-type: Debug
        cc: gcc-14
        cxx: g++-14
        configure-options:
            -DCMAKE_C_COMPILER_LAUNCHER=ccache
            -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
            -DENABLE_SANITIZERS_FOR_TESTS=FALSE
            -DBUILD_LEARNING_TESTS=TRUE
            -DPython=/usr/bin/python3
            -DCMAKE_CXX_FLAGS=--coverage
            -DCMAKE_SHARED_LINKER_FLAGS=--coverage
            -DCMAKE_EXE_LINKER_FLAGS=--coverage
            -G Ninja
        run-test: true
        ctest-options:
            --output-on-failure

    - name: Generate lcov raports
      run: |
        lcov --capture --gcov-tool gcov-14 --ignore-errors mismatch --directory ${{ runner.workspace }}/build --output-file coverage.info
        lcov --gcov-tool gcov-14 --remove coverage.info '/usr/*' --output-file coverage.info
        lcov --list coverage.info

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
