
name: Build-MacOS

on:
  push:
    branches:
      - master
      - macos_build
  pull_request:

jobs:
  build:
    name: "Build PhotoBroom sources on MacOS"

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-15, macos-26]

    steps:
    - uses: actions/checkout@v6
      with:
        submodules: true

    - name: Install system dependencies
      run: |
        brew link --overwrite pkgconf
        brew install        \
          llvm              \
          ninja             \
          dlib              \
          exiv2             \
          opencv            \
          qt6

    - name: Configure LLVM toolchain
      run: |
        LLVM_PREFIX="$(brew --prefix llvm)"
        echo "PATH=${LLVM_PREFIX}/bin:${PATH}" >> "${GITHUB_ENV}"
        echo "CC=${LLVM_PREFIX}/bin/clang" >> "${GITHUB_ENV}"
        echo "CXX=${LLVM_PREFIX}/bin/clang++" >> "${GITHUB_ENV}"
        echo "CMAKE_CXX_COMPILER_CLANG_SCAN_DEPS=${LLVM_PREFIX}/bin/clang-scan-deps" >> "${GITHUB_ENV}"

    - name: Install CsLibGuarded
      run: |
        git clone -b libguarded-1.4.1 https://github.com/copperspice/cs_libguarded.git
        cd cs_libguarded
        mkdir build
        cd build
        cmake ..
        cmake --build . --target all
        sudo cmake --build . --target install

    - name: Build
      uses: ashutoshvarma/action-cmake-build@master
      with:
        build-dir: ${{ runner.workspace }}/build
        build-type: Release
        configure-options:
            -DCMAKE_C_COMPILER=${{ env.CC }}
            -DCMAKE_CXX_COMPILER=${{ env.CXX }}
            -DCMAKE_CXX_COMPILER_CLANG_SCAN_DEPS=${{ env.CMAKE_CXX_COMPILER_CLANG_SCAN_DEPS }}
            -DBUILD_TESTING=OFF
            -DBUILD_SHARED_LIBS=ON
            -G Ninja
      env:
        VERBOSE: 1
